In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("C:\\GeoGridSolver\\data\\world_data.csv", sep=";", encoding='latin1')
dataset.head()

,Country,Region,Population Country,Capital,Population Capital,HDI,Area (km2),Population Density,GDP per capita,Olympic Medals,...,EU Member,"Flag with Only Red, White, and Blue",Drives on the Left,50+ Skyscrapers,Top 20 Obesity Rate,Alcohol Prohibition,Top 20 Alcohol Consumption,Top 20 Chocolate Consumption,Nuclear Weapons,Top 20 Tourist Arrivals
0,Afghanistan,South Asia,38928346,Kabul,3678034,0.511,65223.0,60,2065.0,0,...,No,No,No,No,No,Yes,No,No,No,No
1,Albania,Europe,2877797,Tirana,418495,0.795,28748.0,100.1,5373.0,8,...,No,No,No,No,No,No,No,No,No,No
2,Algeria,North Africa,43851044,Algiers,2698828,0.745,2381741.0,18.4,11430.0,17,...,No,No,No,No,No,Yes,No,No,No,No
3,Andorra,Europe,77265,Andorra la Vella,22256,0.858,467.0,165.4,49990.0,0,...,No,No,No,No,No,No,No,No,No,No
4,Angola,Southern Africa,32866272,Luanda,3119027,0.581,1246700.0,26.4,4100.0,0,...,No,No,No,No,No,Yes,No,No,No,No

In [3]:
#In Europe and is Landlocked
geo = dataset.loc[(dataset['Region'] == "Europe") & (dataset['Coastal Distance']=="Landlocked")]
grid1 = geo[['Country','Region','Coastal Distance']]
grid1

             Country  Region Coastal Distance
3            Andorra  Europe       Landlocked
9            Austria  Europe       Landlocked
15           Belarus  Europe       Landlocked
43           Czechia  Europe       Landlocked
75           Hungary  Europe       Landlocked
99     Liechtenstein  Europe       Landlocked
101       Luxembourg  Europe       Landlocked
107            Malta  Europe       Landlocked
114           Monaco  Europe       Landlocked
116       Montenegro  Europe       Landlocked
130  North Macedonia  Europe       Landlocked
151       San Marino  Europe       Landlocked
155           Serbia  Europe       Landlocked
197     Vatican City  Europe       Landlocked

In [4]:
#In Europe and Population under 1 million
geo = dataset.loc[(dataset['Region']=="Europe") & (dataset['Population Country'] < 1000000)]
grid2 = geo[['Country','Region','Population Country']]
grid2

           Country  Region  Population Country
3          Andorra  Europe               77265
76         Iceland  Europe              356991
99   Liechtenstein  Europe               38128
101     Luxembourg  Europe              634730
107          Malta  Europe              514564
114         Monaco  Europe               38682
116     Montenegro  Europe              622359
151     San Marino  Europe               33931
197   Vatican City  Europe                 801

In [12]:
#In Europe and Capital city population over 2 million
geo = dataset.loc[(dataset['Region'] == "Europe") & (dataset['Population Capital'] > 2000000)]
grid3 = geo[['Country','Region','Capital', 'Population Capital']]
grid3

            Country  Region Capital  Population Capital
61           France  Europe   Paris             2140526
65          Germany  Europe  Berlin             3520031
83            Italy  Europe    Rome             2870493
168           Spain  Europe  Madrid             3207247
190         Ukraine  Europe    Kyiv             2883816
192  United Kingdom  Europe  London             9304016

In [6]:
#Name is 10+ letters long and is Landlocked
geo = dataset.loc[(dataset['Country'].str.len() >= 10) & (dataset['Coastal Distance']=="Landlocked")]
grid4 = geo[['Country','Region','Coastal Distance']]
grid4

                              Country          Region Coastal Distance
0                         Afghanistan      South Asia       Landlocked
10                         Azerbaijan     Europe/Asia       Landlocked
27                       Burkina Faso     West Africa       Landlocked
33           Central African Republic  Central Africa       Landlocked
88                         Kazakhstan     Europe/Asia       Landlocked
92                         Kyrgyzstan    Central Asia       Landlocked
99                      Liechtenstein          Europe       Landlocked
101                        Luxembourg          Europe       Landlocked
102                        Madagascar     East Africa       Landlocked
108                  Marshall Islands         Oceania       Landlocked
109                        Mauritania     West Africa       Landlocked
112                        Micronesia         Oceania       Landlocked
116                        Montenegro          Europe       Landlocked
118                        Mozambique     East Africa       Landlocked
129                       North Korea       East Asia       Landlocked
130                   North Macedonia          Europe       Landlocked
137                  Papua New Guinea         Oceania       Landlocked
140                       Philippines  Southeast Asia       Landlocked
147             Saint Kitts and Nevis       Caribbean       Landlocked
148                       Saint Lucia       Caribbean       Landlocked
149  Saint Vincent and the Grenadines       Caribbean       Landlocked
151                        San Marino          Europe       Landlocked
152             Sao Tome and Principe  Central Africa       Landlocked
153                      Saudi Arabia     Middle East       Landlocked
156                        Seychelles     East Africa       Landlocked
157                      Sierra Leone     West Africa       Landlocked
161                   Solomon Islands         Oceania       Landlocked
167                       South Sudan     East Africa       Landlocked
177                        Tajikistan    Central Asia       Landlocked
181                       Timor-Leste  Southeast Asia       Landlocked
184               Trinidad and Tobago       Caribbean       Landlocked
187                      Turkmenistan    Central Asia       Landlocked
195                        Uzbekistan    Central Asia       Landlocked
197                      Vatican City          Europe       Landlocked

In [7]:
#Name is 10+ letters long and Population under 1 million
geo = dataset.loc[(dataset['Country'].str.len() >= 10) & (dataset['Population Country'] < 1000000)]
grid5 = geo[['Country','Region','Population Country']]
grid5

                              Country          Region  Population Country
5                 Antigua and Barbuda       Caribbean                9712
29                         Cabo Verde     West Africa              555987
99                      Liechtenstein          Europe               38128
101                        Luxembourg          Europe              634730
108                  Marshall Islands         Oceania               59190
112                        Micronesia         Oceania              113815
116                        Montenegro          Europe              622359
147             Saint Kitts and Nevis       Caribbean               53199
148                       Saint Lucia       Caribbean              184401
149  Saint Vincent and the Grenadines       Caribbean              111263
151                        San Marino          Europe               33931
152             Sao Tome and Principe  Central Africa              220911
156                        Seychelles     East Africa               99737
161                   Solomon Islands         Oceania              715116
197                      Vatican City          Europe                 801

In [8]:
#Name is 10+ letters long and Capital city population over 2 million
geo = dataset.loc[(dataset['Country'].str.len() >= 10) & (dataset['Population Capital'] > 2000000)]
grid6 = geo[['Country','Region','Capital', 'Population Capital']]
grid6

,Country,Region,Capital,Population Capital
0,Afghanistan,South Asia,Kabul,3678034
10,Azerbaijan,Europe/Asia,Baku,2122300
13,Bangladesh,South Asia,Dhaka,10356500
27,Burkina Faso,West Africa,Ouagadougou,2580000
44,Democratic Republic of the Congo,Central Africa,Kinshasa,14911075
48,Dominican Republic,Caribbean,Santo Domingo,2902000
129,North Korea,East Asia,Pyongyang,2900000
153,Saudi Arabia,Middle East,Riyadh,7200000
166,South Korea,East Asia,Seoul,9758483
192,United Kingdom,Europe,London,9304016
195,Uzbekistan,Central Asia,Tashkent,2208980

In [9]:
#Name consists of multiple words and is Landlocked
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False)) & (dataset['Coastal Distance'] == "Landlocked")]
grid7 = geo[['Country','Region','Coastal Distance']]
grid7

                              Country          Region Coastal Distance
27                       Burkina Faso     West Africa       Landlocked
33           Central African Republic  Central Africa       Landlocked
108                  Marshall Islands         Oceania       Landlocked
129                       North Korea       East Asia       Landlocked
130                   North Macedonia          Europe       Landlocked
137                  Papua New Guinea         Oceania       Landlocked
147             Saint Kitts and Nevis       Caribbean       Landlocked
148                       Saint Lucia       Caribbean       Landlocked
149  Saint Vincent and the Grenadines       Caribbean       Landlocked
151                        San Marino          Europe       Landlocked
152             Sao Tome and Principe  Central Africa       Landlocked
153                      Saudi Arabia     Middle East       Landlocked
157                      Sierra Leone     West Africa       Landlocked
161                   Solomon Islands         Oceania       Landlocked
167                       South Sudan     East Africa       Landlocked
169                         Sri Lanka      South Asia       Landlocked
170                         Sri Lanka      South Asia       Landlocked
184               Trinidad and Tobago       Caribbean       Landlocked
197                      Vatican City          Europe       Landlocked

In [10]:
#Nome do pais com multiplas palavras e tem menos de 1 milhao de habitantes
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False)) &  (dataset['Population Country'] < 1000000)]
grid8 = geo[['Country','Region','Population Country']]
grid8

                              Country          Region  Population Country
5                 Antigua and Barbuda       Caribbean                9712
29                         Cabo Verde     West Africa              555987
108                  Marshall Islands         Oceania               59190
147             Saint Kitts and Nevis       Caribbean               53199
148                       Saint Lucia       Caribbean              184401
149  Saint Vincent and the Grenadines       Caribbean              111263
151                        San Marino          Europe               33931
152             Sao Tome and Principe  Central Africa              220911
161                   Solomon Islands         Oceania              715116
197                      Vatican City          Europe                 801

In [11]:
#Nome do pais com multiplas palavras e a capital tem mais de 2 milhoes de habitantes
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False)) &  (dataset['Population Capital'] > 2000000)]
grid9 = geo[['Country','Region','Capital', 'Population Capital']]
grid9

,Country,Region,Capital,Population Capital
27,Burkina Faso,West Africa,Ouagadougou,2580000
44,Democratic Republic of the Congo,Central Africa,Kinshasa,14911075
48,Dominican Republic,Caribbean,Santo Domingo,2902000
129,North Korea,East Asia,Pyongyang,2900000
153,Saudi Arabia,Middle East,Riyadh,7200000
166,South Korea,East Asia,Seoul,9758483
192,United Kingdom,Europe,London,9304016

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 33 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              203 non-null    object
 1   Region                               203 non-null    object
 2   Population Country                   203 non-null    int64
 3   Capital                              203 non-null    object
 4   Population Capital                   203 non-null    int64
 5   HDI                                  174 non-null    float64
 6   Area (km2)                           202 non-null    float64
 7   Population Density                   202 non-null    object
 8   GDP per capita                       174 non-null    float64
 9   Olympic Medals                       203 non-null    object
 10  Former USSR                          203 non-null    object
 11  Flag with Coat of Arms               203 non-null    object
 12  Flag with Animal                     203 non-null    object
 13  Coastline on the Mediterranean       203 non-null    object
 14  Hosted Olympics                      203 non-null    object
 15  Hosted Men's FIFA World Cup          203 non-null    object
 16  Played in Men's FIFA World Cup       203 non-null    object
 17  Commonwealth Member                  203 non-null    object
 18  Never Won an Olympic Medal           203 non-null    object
 19  Coastal Distance                     203 non-null    object
 20  Island Nation                        203 non-null    object
 21  Star in Flag                         203 non-null    object
 22  Won Men's FIFA World Cup             203 non-null    object
 23  EU Member                            203 non-null    object
 24  Flag with Only Red, White, and Blue  203 non-null    object
 25  Drives on the Left                   203 non-null    object
 26  50+ Skyscrapers                      203 non-null    object
 27  Top 20 Obesity Rate                  203 non-null    object
 28  Alcohol Prohibition                  203 non-null    object
 29  Top 20 Alcohol Consumption           203 non-null    object
 30  Top 20 Chocolate Consumption         203 non-null    object
 31  Nuclear Weapons                      203 non-null    object
 32  Top 20 Tourist Arrivals              203 non-null    object
dtypes: float64(3), int64(2), object(28)
memory usage: 52.5+ KB