Some codes:

- Starts/Ends with letter 

``dataset.loc[(dataset['Country'].str.startswith('B'))]``

- Name is multiple words

``dataset.loc[(dataset['Country'].str.contains(' ', regex=False))]``

- Name is # letters long

``dataset.loc[(dataset['Country'].str.len() >= 10)]``

In [35]:
import pandas as pd

In [36]:
dataset = pd.read_csv("C:\\GeoGridSolver\\data\\world_data.csv", sep=";", encoding='latin1')

In [37]:
#Countries that are duplicated have more than one capital
duplicated = dataset[dataset.duplicated(['Country'], keep=False)]
duplicated = duplicated[['Country','Capital']]
duplicated

          Country                                            Capital
20        Bolivia                                   Sucre (official)
21        Bolivia                            La Paz (administrative)
56       Eswatini                           Mbabane (administrative)
57       Eswatini                    Lobamba (royal and legislative)
123   Netherlands                               Amsterdam (official)
124   Netherlands                     The Hague (seat of government)
163  South Africa                               Pretoria (executive)
164  South Africa                            Bloemfontein (judicial)
165  South Africa                            Cape Town (legislative)
169     Sri Lanka               Sri Jayawardenepura Kotte (official)
170     Sri Lanka                   Colombo (executive and judicial)
178      Tanzania                                  Dodoma (official)
179      Tanzania  Dar es Salaam (largest city and de facto capital)

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              203 non-null    object
 1   Region                               203 non-null    object
 2   Population Country                   203 non-null    int64
 3   Capital                              203 non-null    object
 4   Population Capital                   203 non-null    int64
 5   Capital most pop                     203 non-null    object
 6   HDI                                  174 non-null    float64
 7   Area (km2)                           202 non-null    float64
 8   Population Density                   202 non-null    object
 9   Number of borders                    203 non-null    int64
 10  GDP per capita                       174 non-null    float64
 11  Olympic Medals                       203 non-null    object
 12  Former USSR                          203 non-null    object
 13  Flag with Coat of Arms               203 non-null    object
 14  Flag with Animal                     203 non-null    object
 15  Coastline on the Mediterranean       203 non-null    object
 16  Hosted Olympics                      203 non-null    object
 17  Hosted Men's FIFA World Cup          203 non-null    object
 18  Played in Men's FIFA World Cup       203 non-null    object
 19  Commonwealth Member                  203 non-null    object
 20  Never Won an Olympic Medal           203 non-null    object
 21  Coastal Distance (km)                203 non-null    object
 22  Island Nation                        203 non-null    object
 23  Star in Flag                         203 non-null    object
 24  Won Men's FIFA World Cup             203 non-null    object
 25  EU Member                            203 non-null    object
 26  Flag with Only Red, White, and Blue  203 non-null    object
 27  Drives on the Left                   203 non-null    object
 28  50+ Skyscrapers                      203 non-null    object
 29  Top 20 Obesity Rate                  203 non-null    object
 30  Alcohol Prohibition                  203 non-null    object
 31  Top 20 Alcohol Consumption           203 non-null    object
 32  Top 20 Chocolate Consumption         203 non-null    object
 33  Nuclear Weapons                      203 non-null    object
 34  Top 20 Tourist Arrivals              203 non-null    object
dtypes: float64(3), int64(3), object(29)
memory usage: 55.6+ KB

In [39]:
#Capital is not the most populated city and Population under 5 million
geo = dataset.loc[(dataset['Capital most pop'] == "No") & (dataset['Population Country']<5000000)]
grid1 = geo[['Country','Population Country']]
grid1

                 Country  Population Country
17                Belize              397621
53     Equatorial Guinea             1402985
56              Eswatini             1160164
57              Eswatini             1160164
63                Gambia             2416668
112           Micronesia              113815
125          New Zealand             4830638
134                Palau               18092
184  Trinidad and Tobago             1399488

In [40]:
#Capital is not the most populated city and Borders 5+ countries
geo = dataset.loc[(dataset['Capital most pop'] == "No") & (dataset['Number of borders']>=5)]
grid2 = geo[['Country','Region','Capital','Number of borders']]
grid2

,Country,Region,Capital,Number of borders
20,Bolivia,South America,Sucre (official),5
21,Bolivia,South America,La Paz (administrative),5
24,Brazil,South America,Brasília,10
31,Cameroon,Central Africa,Yaoundé,6
50,Ecuador,South America,Quito,5
77,India,South Asia,New Delhi,6
84,Ivory Coast,West Africa,Yamoussoukro,5
88,Kazakhstan,Europe/Asia,Nur-Sultan,5
119,Myanmar,Southeast Asia,Naypyidaw,5
163,South Africa,Southern Africa,Pretoria (executive),6
164,South Africa,Southern Africa,Bloemfontein (judicial),6
165,South Africa,Southern Africa,Cape Town (legislative),6
174,Switzerland,Europe,Bern,5
186,Turkey,Europe/Asia,Ankara,8
191,United Arab Emirates,Middle East,Abu Dhabi,5

In [41]:
#Capital is not the most populated city and Is landlocked
geo = dataset.loc[(dataset['Capital most pop'] == "No") & (dataset['Coastal Distance (km)']=='Landlocked')]
grid3 = geo[['Country','Capital', 'Coastal Distance (km)']]
grid3

         Country                          Capital Coastal Distance (km)
20       Bolivia                 Sucre (official)            Landlocked
21       Bolivia          La Paz (administrative)            Landlocked
28       Burundi                           Gitega            Landlocked
56      Eswatini         Mbabane (administrative)            Landlocked
57      Eswatini  Lobamba (royal and legislative)            Landlocked
88    Kazakhstan                       Nur-Sultan            Landlocked
174  Switzerland                             Bern            Landlocked

In [42]:
#Name consists of multiple words and Population under 5 million
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False) & (dataset['Population Country']< 5000000))]
grid4 = geo[['Country','Region','Population Country']]
grid4

                              Country          Region  Population Country
5                 Antigua and Barbuda       Caribbean                9712
22             Bosnia and Herzegovina          Europe             3280819
29                         Cabo Verde     West Africa              555987
33           Central African Republic  Central Africa             4829767
49                         East Timor  Southeast Asia             1318442
53                  Equatorial Guinea  Central Africa             1402985
108                  Marshall Islands         Oceania               59190
125                       New Zealand         Oceania             4830638
130                   North Macedonia          Europe             2082958
147             Saint Kitts and Nevis       Caribbean               53199
148                       Saint Lucia       Caribbean              184401
149  Saint Vincent and the Grenadines       Caribbean              111263
151                        San Marino          Europe               33931
152             Sao Tome and Principe  Central Africa              220911
161                   Solomon Islands         Oceania              715116
184               Trinidad and Tobago       Caribbean             1399488
197                      Vatican City          Europe                 801

In [43]:
#Name consists of multiple words and Borders 5+ countries
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False) & (dataset['Number of borders']>=5))]
grid5 = geo[['Country','Region','Number of borders']]
grid5

                              Country           Region  Number of borders
27                       Burkina Faso      West Africa                  6
33           Central African Republic   Central Africa                  6
44   Democratic Republic of the Congo   Central Africa                  9
84                        Ivory Coast      West Africa                  5
153                      Saudi Arabia      Middle East                  8
163                      South Africa  Southern Africa                  6
164                      South Africa  Southern Africa                  6
165                      South Africa  Southern Africa                  6
167                       South Sudan      East Africa                  6
191              United Arab Emirates      Middle East                  5

In [44]:
#Name consists of multiple words and Is landlocked
geo = dataset.loc[(dataset['Country'].str.contains(' ', regex=False)) & (dataset['Coastal Distance (km)'] == 'Landlocked')]
grid6 = geo[['Country','Region','Coastal Distance (km)']]
grid6

                      Country          Region Coastal Distance (km)
27               Burkina Faso     West Africa            Landlocked
33   Central African Republic  Central Africa            Landlocked
130           North Macedonia          Europe            Landlocked
151                San Marino          Europe            Landlocked
167               South Sudan     East Africa            Landlocked
197              Vatican City          Europe            Landlocked

In [45]:
#Starts with letter B and Population under 5 million
geo = dataset.loc[(dataset['Country'].str.startswith('B')) & (dataset['Population Country'] < 5000000)]
grid7 = geo[['Country','Region', 'Population Country']]
grid7

                   Country           Region  Population Country
11                 Bahamas        Caribbean               38534
12                 Bahrain      Middle East             1701575
14                Barbados        Caribbean              287371
17                  Belize  Central America              397621
19                  Bhutan       South Asia              763092
22  Bosnia and Herzegovina           Europe             3280819
23                Botswana  Southern Africa             2351627
25                  Brunei   Southeast Asia              437479

In [46]:
#Starts with letter B and Borders 5+ countries
geo = dataset.loc[(dataset['Country'].str.startswith('B')) & (dataset['Number of borders'] >=5)]
grid8 = geo[['Country','Region','Number of borders']]
grid8

         Country         Region  Number of borders
15       Belarus         Europe                  5
20       Bolivia  South America                  5
21       Bolivia  South America                  5
24        Brazil  South America                 10
26      Bulgaria         Europe                  5
27  Burkina Faso    West Africa                  6

In [47]:
#Starts with letter B and Is Landlocked
geo = dataset.loc[(dataset['Country'].str.startswith('B')) &  (dataset['Coastal Distance (km)'] == "Landlocked")]
grid9 = geo[['Country','Region','Coastal Distance (km)']]
grid9

         Country           Region Coastal Distance (km)
15       Belarus           Europe            Landlocked
19        Bhutan       South Asia            Landlocked
20       Bolivia    South America            Landlocked
21       Bolivia    South America            Landlocked
23      Botswana  Southern Africa            Landlocked
27  Burkina Faso      West Africa            Landlocked
28       Burundi      East Africa            Landlocked